
/* $danger: #ce242a;
$danger2: #a94442;
$back: #f2dede;
$success: #18d26e;
// $white: #fff;
// $emperor: #535353;

// $lavendar-magenta: #EC51DE;
// $shocking-pink: #EB0EC7;
// $governor-bay: #3023AE;
// $persian-blue: #3022AD;
// $curious-blue: #1897E1;
// $dodger-blue: #53A0FD;
// $red-violet: #CC19BF;
// $mariner: #405CD2;
// $seance: #7623A2;

// background-color: #fafafa !important;
  // background-color: #DfDCE3 !important;
  // background-color: #DCD0C0 !important;
  // background-color: #f4f4f4 !important;
  // background-color: #E7DFDD !important;
  // background-color: #A5D5D5 !important;
  // background-color: #96858F !important;
  // background-color: #EFEFEF !important;
  // background-color: #8FD8D2 !important;
  // background-color: #F8EEE7 !important;
  // background-color: #D9D9D9 !important;
  // background-color: #C5C1C0 !important;
  // background-color: #A5A5AF !important;
  // background-color: #A7B3A5 !important;
  // background-color: #F2eee2 !important;
  // background-color: #EAE3EA !important;
  // background-color: #393939 !important;
  // background-color: #E9E9E9 !important;
  // background-color: #CDCDCD !important;
  // background-color: #DCDCDC !important;
  // background-color: #E9e7d4 !important;

 */

* {
  box-sizing: border-box;
}

html {
  font-size: 14px !important;
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  height: 100% !important;
  padding: 75px 0px 0 !important;
}
 body {
  /* padding: 75px 0 75px 0 !important; */
  /* background-color:#f0f2f5 */

  /* f7 é o mais claro */
  /* background-color: #f7f7f7; */

  background-color: #fAfAfA  !important;
}

.container-fluid {
  margin-top: 75px !important;
  margin-bottom: 75px !important
}

/* Shadow para todos os cards */
.card, .modal-content {
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px 0px; */
  box-shadow: 0px 5px 10px 0px rgba(153, 153, 153, 0.3) !important;
  border-radius: 15px !important;
  border: 0.8px !important;
  font-family: Comfortaa !important;
}

.page-tittle::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}


/* The next 2 selectors are for underlined for h3 or title page */
.page-tittle {
  font-family: Comfortaa !important;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
  padding-top: 15px;
}

.page-tittle::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #17a2b8;
  bottom: 0;
  left: calc(50% - 20px);
}

.btn {
  padding: 0.4rem 0.9rem !important;
  font-size: 1.1rem !important;
  font-family: Comfortaa !important;
}

/* Shadow for standard buttons */
.btn:hover {
  box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302),
  0 4px 8px 3px rgba(60,64,67,0.149) !important;
}

/* The next 4 selectors are changes to success buttons */
.btn-outline-success, .btn-primary {
  background-color: transparent !important;
  color: #18d26e !important;
  border-color: #18d26e !important;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .show > .btn-outline-success.dropdown-toggle {
  background-color: #18d26e !important;
  color: #fff !important;
  border-color: #18d26e !important; 
}

.btn-outline-success:hover, .btn-primary:hover {
  color: #fff !important;
  background-color: #18d26e !important;
  border-color: #18d26e !important;
}

.btn-outline-success:focus, .btn-outline-success.focus, .btn-primary:focus {
  background-color: #28a745 !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px 0px !important;
  color: #fff !important;
}

/* The next 4 selectors are changes for primary button */
.btn-outline-primary {
  color: #17a2b8 !important;
  border-color: #17a2b8 !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  border-color: #17a2b8 !important;
  background-color: #17a2b8 !important;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #fff !important;
  background-color: #17a2b8 !important;
  border-color: #17a2b8 !important;
}

/* Style for inputs from newBrainstorm and waitForMembers scream */
.create {
  padding-top: 0.4rem !important;
  padding-bottom: 0.4rem !important;
  font-size: 1.2rem !important;
}

.line-button {
  border: 1px #ced4da solid  !important;
  border-left: none !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: #fff !important;
}

.line-button:hover {
  background-color: #fff !important;
  box-shadow: none !important;
}

.line-button:focus {
  background-color: #fff !important;
  box-shadow: none !important;
}

.input-with-prepend {
  border-left: none !important;
}

.input-with-append {
  border-right: none !important;
}

.input-code {
  background-color: #fff !important;
}

/* Changing the background color of input appends */
.input-group-text {
  background-color: #17a2b8 !important;
  opacity: 0.95;
}

/* Asterisk for required inputs */
.required {
  position: relative;
  display: inline-block !important;
}
.required::after {
  content: "*";
  font-weight: bold;/* 
  // position: absolute; */
  display: inline-block;
  color: #ce242a;
 /*  // top: 0;
  // right: -10px */;
  margin-left: 2px;
}

/* Warnigs for incorrect inputs */
.warning-input-forms {
  color: #ce242a;
  margin-bottom: -5px;
  font-size: 14px;
}

